<section class="content-header">
  <h1>
    <i class="fa fa-book"></i> 免責事項
    <small>omae</small>
  </h1>
</section>
<hr>

<div class="row">
  <div class="col-sm-12">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title">総則</h3>
      </div>
      <div class="box-body">
        <p>
          当サイトのコンテンツにおいて、可能な限り正確な情報を掲載するよう努めていますが、
          必ずしも正確性を保証するものではありません。
        </p>
        <p>
          当サイトのご利用につき生じた何らかのトラブルや損失・損害などの一切の責任を負いかねますのでご了承ください。
          また、当サイトからリンクやバナーなどによって他サイトに移動された場合、
          移動先のサイトで提供される情報・サービス等について一切の責任を負いません。
        </p>
        <p>
          当サイトに提供された情報は、法令に基づき開示が認められる場合を除くほか、あらかじめユーザーの同意を得ないで第三者に提供しません。
        </p>
        <h3>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">広告について</h3>
      </div>
      <div class="box-body">
        <p>
          当サイトは、第三者配信の広告サービス Google Adsense を利用しています。
        </p>
        <p>
          Googleなどの第三者広告配信事業者は、訪問者の興味に応じた広告を表示するために、
          Cookie（当サイトの訪問者が当サイトや他のサイトにアクセスした際の情報など）を使用することがあります。
        </p>
        <p>
          訪問者は、広告設定で訪問者に合わせた広告（以下、「パーソナライズド広告」とします。）を無効にすることが出来ます。
          その設定をする場合は、<a href="https://www.google.com/settings/ads" target="_blank">ここをクリック</a>してください。
        </p>
        <p>
          第三者配信による広告掲載を無効にしていない場合は、第三者配信事業者や広告ネットワークの配信する広告がサイトに掲載されることがあります。
        </p>
        <p>
          Googleによって広告の第三者配信が認められている広告配信事業者の詳細は、
          <a href="https://support.google.com/dfp_premium/answer/94149" target="_blank">ここをクリック</a>してください。
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">アクセス解析について</h3>
      </div>
      <div class="box-body">
        <p>
          当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
        </p>
        <p>
          このGoogleアナリティクスはアクセス情報の収集のためにCookieを使用しています。
          このアクセス情報は匿名で収集されており、個人を特定するものではありません。
        </p>
        <p>
          GoogleアナリティクスのCookieは、26ヶ月間保持されます（個々のGoogle Analytics の設定によります）。
          この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
        </p>
        <p>
          Googleアナリティクスの利用規約に関して確認したい場合は、<a href="https://www.google.com/analytics/terms/jp.html" target="_blank">ここをクリック</a>してください。
          また、「ユーザーが Google パートナーのサイトやアプリを使用する際の Google によるデータ使用」に関して確認したい場合は、
          <a href="https://policies.google.com/technologies/partner-sites?hl=ja" target="_blank">ここをクリック</a>してください。
        </p>
      </div>
    </div>
  </div>
</div>
