<section class="content-header">
  <h1>
    <i class="fa fa-book"></i> 免責事項
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li>その他</li>
    <li class="active">免責事項</li>
  </ol>
</section>
<hr>
