<section class="content-header">
  <h1>
    <i class="fa fa-area-chart"></i> Dashboard
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua">
        <i class="fa fa-building"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">all working</span>
        <span class="info-box-number"><%= @sum_working_hours %></span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green">
        <i class="fa fa-building-o"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">all extra working</span>
        <span class="info-box-number"><%= @sum_extra_working_hours %></span>
      </div>
    </div>
  </div>
</div>
