<section class="content-header">
  <h1>
    <i class="fa fa-area-chart"></i> Dashboard
    <small>omae</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<hr>
