<div class="info-box-content" id="all_extra_working_hours">
  <span class="info-box-text">all extra working</span>
  <span class="info-box-number"><%= convert_to_hh_mm_from_sec(all_extra_working_seconds) %></span>
</div>
