<div class="info-box-content" id="all_working_hours">
  <span class="info-box-text">all working</span>
  <span class="info-box-number"><%= convert_to_hh_mm_from_sec(@dashboard.all_working_seconds) %></span>
</div>
