<div class="info-box-content" id="average_extra_working_hours">
  <span class="info-box-text">Avg. Extra working</span>
  <span class="info-box-number"><%= convert_to_hh_mm_from_sec(average_extra_working_seconds) %></span>
</div>
