<div class="info-box-content" id="days_worked">
  <span class="info-box-text">days worked</span>
  <span class="info-box-number"><%= @dashboard.days_worked %> Day(s)</span>
  <div class="progress">
    <div class="progress-bar bg-red" style="width: <%= @dashboard.worked_off_rate %>%"></div>
  </div>
  <span class="progress-description">
    <strong><%= @dashboard.days_worked_off %></strong> off day(s)
  </span>
</div>
