<div class="info-box-content" id="sum_of_extra_working_hours">
  <span class="info-box-text">all extra working</span>
  <span class="info-box-number"><%= all_extra_working_hours(@start_date, @end_date) %></span>
</div>
